<nav class="shadow-sm">
    <div id="navbar-brand">
        <span>TransMonitor</span>
        <input type="text" placeholder="search">
    </div>
    <div id="menu">
        <ul>
            <li>
                <a href="#">Support</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
        <div id="bell">
            <span id="badge">24</span>
        </div>
        <div id="user">
            <div id="username">
                <small>Ekene Chris Ezedi</small>
            </div>
            <div id="avatar"></div>
        </div>
    </div>
</nav>