#main-content{
    position: relative;
    top: 60px;
    padding: 10px 10px 10px 270px;
    z-index: 1;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

#transactions{
    display: flex;  
}