<aside class="shadow-sm">
    <button id="invoice-btn">GENERATE INVOICE</button>

    <div id="menu">
        <small>Main</small>

        <div id="active" class="tab">
            <span>
                <img src="../../assets/overview.png" alt="icon">
            </span>
            <small>Overview</small>
        </div>

        <div id="payments">
            <small>Payments</small>

            <div class="tab">
                <span>
                    <img src="../../assets/wallet-43-2.png" alt="icon">
                </span>
                <small>All Payments</small>
            </div>

            <div class="tab">
                <span>
                    <img src="../../assets/wallet-43-1.png" alt="icon">
                </span>
                <small>Reconciled Payments</small>
            </div>

            <div class="tab">
                <span>
                    <img src="../../assets/wallet-43.png" alt="icon">
                </span>
                <small>Un - Reconciled Payments</small>
            </div>

            <div class="tab">
                <span>
                    <img src="../../assets/Group.png" alt="icon">
                </span>
                <small>Manual Settlements</small>
            </div>
        </div>

        <div id="orders">
            <small>Orders</small>

            <div class="tab">
                <span>
                    <img src="../../assets/Group 7.1.png" alt="icon">
                </span>
                <small>All Orders</small>
            </div>

            <div class="tab">
                <span>
                    <img src="../../assets/Group 7.png" alt="icon">
                </span>
                <small>Pending Orders</small>
            </div>

            <div class="tab">
                <span>
                    <img src="../../assets/Group 7.2.png" alt="icon">
                </span>
                <small>Reconciled Orders</small>
            </div>

        </div>

        <div id="merchant-profile">
            <div class="tab">
                <span>
                    <img src="../../assets/single-01 2.png" alt="icon">
                </span>
                <small>Merchant Profile</small>
            </div>
        </div>
    </div>
</aside>