<section id="chart-dash">
    <div id="big-graph" class="shadow-sm">
        <header>
            <div>Today: 5, Aug 2018</div>
            <div id="right-pane">
                <select>
                    <option>1 Jan - 1 Jun</option>
                </select>
    
                <div id="nav">
                    <button><</button>
                    <button>></button>
                </div>
            </div>
        </header>
        <div id="graph">
            <img src="../../assets/big grapgh.png" alt="big graph">
        </div>
    </div>

    <div id="order-payment" class="shadow-sm">
        <div class="order">
            <h4>Orders</h4>
            <div id="hl-wrapper">
                <div id="green"></div>
                <div id="yellow"></div>
            </div>
            <small>Pending Orders:<span style="color: #FDC203;">20</span></small><br>
            <small>Reconciled Orders:<span style="color: #27AE60;;">80</span></small><br>
            <small>Total Orders:<span style="color: #1875F0;">100</span></small>
        </div>

        <div class="order">
            <h4>Payments</h4>
            <div id="hl-wrapper">
                <div id="green"></div>
                <div id="yellow"></div>
            </div>
            <small>Un - reconciled Payments<span style="color: #FDC203;">20</span></small><br>
            <small>Reconciled Payments:<span style="color: #27AE60;;">80</span></small><br>
            <small>Total Payments:<span style="color: #1875F0;">100</span></small>
        </div>
    </div>
</section>